
body {
    font-family: Arial, sans-serif;
}
.navbar-brand {
    font-weight: bold;
    font-size: 22px;
}

.nav-link {
    font-size: 16px;
}
.hero {
    background: linear-gradient(to right, #9d2aa5, #ab16b0);
    color: white;
    padding: 80px 0;
    text-align: center;
}
h2 {
    color: #bb19a3;
    margin-bottom: 20px;
}

.card {
    border: none;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}
footer {
    background-color: #212529;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 50px;
}
